
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS code starts here */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

/*      index.html desktop view     */

@media only screen and (min-width: 320px) {
    body {
        height: 100%;
        background-image: url("img/light-img-c.jpg");
        background-color: #000000;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 85%;
        min-height: 100%;
        background-color: rgb(25, 25, 25, 0.70);
        padding: 0 1%;
        margin: 0 auto;
        justify-content: center;
    }

    .page-title {
        display: flex;
        flex-direction: row;
        padding: 25% 3%;
        justify-content: center;
        text-align: center;
    }

    nav a {
        color: white;
        font-size: 3.8rem;
        font-stretch: wider;
        text-decoration-line: none;
        letter-spacing: 0.3rem;
        text-indent: 0.3rem;
        justify-content: center;
        align-self: center;
    }

    nav a:hover {
        animation: hover-link -1s forwards;
    }

    @keyframes hover-link {
        from {
            text-decoration: none;
        }
        to {
            text-decoration-line: line-through;
        }
    }

    .copyright {
        display: flex;
        writing-mode: vertical-rl;
        bottom: 15px;
        position: absolute;
        color: gray;
        font-size: 0.75rem;
        letter-spacing: 0.001rem;
    }

/*     Scrollbar styling  -- does not work on Firefox, Internet Explorer, or Edge  */

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
     background: #BDBDBD; 
}
   
::-webkit-scrollbar-thumb {
    background: #666666; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

/*      Scrollbar styling for Firefox     */

.scroller {
    width: 5px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: #666666;
    scrollbar-width: thin;
  }

/* other selectors for main.html */

    .main-page {
        min-height: 100vh;
        background-image: url("img/circle-light.jpg");
        background-color: #000000;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .container-main {
        display: flex;
        width: 85%;
        min-height: 100%;
        background-color: rgb(25, 25, 25, 0.70);
        padding: 2% 1%;
        margin: 0 auto;
        justify-content: center;
        letter-spacing: 0.01rem;
        color: whitesmoke;
    }

    .about-content {
        left: 0;
        top: 0;
        line-height: 1.5rem;
        width: 95%;
        padding-right: 2%;
    }

    .about-content h1 {
        align-self: left;
        font-size: 1.5rem;
        position: absolute;
    }

    .about-content a {
        color: white;
        font-size: 1rem;
        text-decoration-line: none;
    }

    .about-content a:hover {
        animation: hover-link -1s forwards;
    }

    @keyframes hover-link {
        from {
            text-decoration: none;
        }
        to {
            text-decoration-line: line-through;
        }
    }

    .link-containers {
        position: relative;
        font-size: 1rem;
        width: 5%;
    }

    .link-containers > ul {
        display: flex;
        flex-flow: column;
        position: relative;
        right: 0;
        top: 0;
    }

    .link-containers li {
        border: 1px solid grey;
        width: 2rem;
        padding: 0.3rem;
    }

    .link-containers li:hover {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 0.3rem;
    }

    .link-containers li a {
        writing-mode: vertical-rl;
        font-size: 1rem;
    }

    .link-containers li:hover a {
        writing-mode: vertical-rl;
        font-size: 1rem;
        text-decoration-line: line-through;
    }

    .projects-links img {
        border-radius: 3px
    }

    .box {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 0.5% 1%;
        margin: 1% 1%;
       	font-size: .8rem;
    }

@media only screen and (min-device-width:  1280px) {
    .main-page {
        background-attachment: scroll;
    }
}

@media only screen and (min-height: 600px) {
    .link-containers li a {
        font-size: 0.9rem;
    }
}

/*      selectors for projects.html     */

    .projects-links p {
        line-height: 1.8rem;
    }

    .projects-links a {
        font-size: 1rem;
    }

}