
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS code starts here */

* {
    box-sizing: border-box;
}

html {
    min-width: 800px;
    height: 100%;
    font-size: 16px;
}

/*      index.html desktop view     */

body {
    height: 100%;
    background-image: url("img/light-img-c.jpg");
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    letter-spacing: .005rem;
}

@media(min-width: 100%) {

    .container {
        display: flex;
        flex-direction: column;
        width: 85vmax;
        min-height: 100vmin;
        background-color: rgb(25, 25, 25, 0.70);
        padding: ;
        margin: auto;
        justify-content: center;
    }

.page-title {
    text-align: center;
    animation: hover-link -1s backwards;
}

nav a {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3.5rem;
    font-stretch: wider;
    text-decoration-line: none;
    letter-spacing: .0005rem;
    align-self: center;
}

nav a:hover {
    animation: hover-link -1s forwards;
}

@keyframes hover-link {
    from {
        text-decoration: none;
    }
    to {
        text-decoration-line: line-through;
        text-decoration-style: 0.0005rem solid black;
    }
}


/* some additional selectors for main.html */

.main-page {
    height: 100%;
    background-image: url("img/circle-light.jpg");
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.container-main {
    background-color: rgb(25, 25, 25, 0.70);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 85%;
    justify-content: center;
    padding: 1px;
    margin: auto;
    color: whitesmoke;
}

.container-main .construction {
    align-items: center;
    font-size: 36px;
    text-align: center;
}

.container-main .soon {
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
}

}